.main-image-container {
    border: solid 2px #FF6B00;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    margin: auto;
}

img {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 8px;
    position: relative;
}

.go-btn {
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    background-color: #FF6B00;
    color: #10002B;
    border-radius: 0px 10px 10px 0px;
    margin-left: 50%;
    margin-top: -5%;
    height: 30px;
    width: 250px;
    margin-right: 20%;
    position: absolute;
}

.go-btn:hover {
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

.go-btn:active {
    transform: translateX(25px) scale(0.85);
    transition: ease-in-out;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #E0AAFF;
    text-align: center;
    font-weight: 500;
}