.test-card-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 6fr 1fr;
  height: 100%;
}

.img-container {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border: solid 2px gray;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-container {
  grid-row: 1;
  grid-column: 2;
  width: auto;
  height: 100%;
  color: #E0AAFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


