h2 {
  display: block;
  margin: 5px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #E0AAFF;
  font-size: xx-large;
}

.test-container {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.test-card {
  display: inline-block;
  width: 40%;
  height: 300px;
  margin: 15px 2.5%;
  border: solid 3px #5A189A;
}

.passing-test-container {
  display: block;
  width: 100%;
  height: auto;
  margin: 5px 15px;
}

