
h2 {
  display: block;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.img-container {
  border: solid 2px gray;
  background-position: center;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback-container {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  grid-template-columns: 1fr 8fr 1fr;
}

.btn-left {
  grid-column: 1;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  background-color: orange;
  padding: 15px;
  border-radius: 100%;
}

.btn-left:hover {
  background-color: purple;
}

.btn-right {
  grid-column: 3;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  background-color: orange;
  padding: 15px;
  border-radius: 100%;
}

.btn-right:hover {
  background-color: purple;
}

.feedback-card {
  display: inline-block;
  width: 20%;
  height: 300px;
  margin: 15px 2.5%;
  border: solid 3px orange;
}

#carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 10px 0;
}

.carousel-item {
  min-width: 200px;
  margin: 0 10px;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.scroll-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}