
h2 {
  display: block;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.main-feedbacks {
  color: #E0AAFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
}

.img-container {
  background-position: center;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback-container {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  grid-template-columns: 1fr 8fr 1fr;
  position: relative;
}

.feedback-card {
  display: inline-block;
  width: 20%;
  height: 400px;
  margin: 15px 2.5%;
  border: solid 3px orange;
}

#carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

#carousel {
  display: flex;
  overflow-x: auto;
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}

.carousel-item {
  min-width: 200px;
  margin: 0 10px;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

img {
  background-color: rgb(251, 251, 251);
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgb(251, 251, 251);
}

.btn-left {
  left: 50px;
  position: absolute;
  top: 50%;
}

.btn-right {
  position: absolute;
  right: 50px;
  top: 50%;
}
