h2 {
  display: block;
  margin: 5px;
  text-align: center;
}

.img-container {
  border: solid 2px gray;
  background-position: center;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.achievement-container {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.achievement-card {
  display: inline-block;
  width: 40%;
  height: 300px;
  margin: 15px 2.5%;
  border: solid 3px orange;
}
