h2 {
  display: block;
  margin: 5px;
  text-align: center;
  font-weight: 300;
  color: #E0AAFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img-container {
  background-position: center;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.achievement-container {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.achievement-card {
  display: inline-block;
  width: 40%;
  height: 50%;
  height: 300px;
  margin: 15px 2.5%;
  background-color: #5A189A;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

.achievement-card h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  color: #E0AAFF;
}

.achievement-card p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #E0AAFF;
}

.achievement-card label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #E0AAFF;
}
